<style  type="text/css"> 
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111-002/V002 (Spring 2023)<br>Introduction to Databases
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 4: All Tracks<br>
</span>
</center></i><br><br>

# Overview

- There are two parts to HW 4:
    - ```4a```: Written questions
    - ```4b:``` A common set of practical tasks for both the programming and non-programming tracks.
    
    
- HW 4 __does not__ have separate assignments for the programming and non-programming tracks. 


Homework 4b has the following tasks:


1. Create a new schema ```<uni>_S22_classic_models_star.``` Replace ```<uni>``` with your UNI.<br><br>
2. You will create a [star schema](https://en.wikipedia.org/wiki/Star_schema) using the data from your Classic Models database.
    - The fact in the fact table is of the form ```(productCode, quantityPrders, priceEach, orderedData, customerNumber).```
    - The dimensions are:
        - ```date_dimension: year, quarter, month, day of the month.```
        - ```location_dimension: region, country, city.``` The zip file contain a file ```country_region.csv``` that provides the mapping of countries to regions.
        - ```product_dimension: product_scale, product_line, product_vendor.```<br><br>
3. You will write queries that demonstrate:
    - A slice of the data.
    - A dice of the data.
    - A drill-down.
    - A roll-up.
    
    
- The homework is due on ```2022-MAY-01``` at 11:59 PM. We will post detailed submission instructions on Ed and Gradescope. Your submission format will be PDF and zip copies of this notebook. You must name your files following the instructions we publish.

# Setup

In [48]:
import pandas as pd

In [39]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
%sql mysql+pymysql://root:Zxw981120+@localhost

'Connected: root@None'

In [4]:
country_region = pd.read_csv('./country_region.csv')

In [5]:
country_region

         Country Region
0         France   EMEA
1            USA    NaN
2      Australia   APAC
3         Norway   EMEA
4         Poland   EMEA
5        Germany   EMEA
6          Spain   EMEA
7         Sweden   EMEA
8        Denmark   EMEA
9      Singapore   APAC
10      Portugal   EMEA
11         Japan   APAC
12       Finland   EMEA
13            UK   EMEA
14       Ireland   EMEA
15        Canada    NaN
16     Hong Kong   APAC
17         Italy   EMEA
18   Switzerland   EMEA
19   Netherlands   EMEA
20       Belgium   EMEA
21   New Zealand   APAC
22  South Africa   EMEA
23       Austria   APAC
24   Philippines   APAC
25        Russia   EMEA
26        Israel   EMEA

In [6]:
from sqlalchemy import create_engine

In [13]:
engine = \
    create_engine("mysql+pymysql://root:Zxw981120+@localhost")

In [14]:
country_region.to_sql('country_region',
                     schema='xz2996_S22_classic_models_star',
                     con=engine,
                     index=False,
                     if_exists="replace")

# Schema

- Execute your SQL statements for creating the schema, table and constraints for the fact and dimension tables in the following cells.

In [10]:
%%sql
create schema xz2996_S22_classic_models_star;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [17]:
%%sql
use xz2996_S22_classic_models_star;
select*from country_region;

 * mysql+pymysql://root:***@localhost
0 rows affected.
27 rows affected.

[('France', 'EMEA'),
 ('USA', 'NA'),
 ('Australia', 'APAC'),
 ('Norway', 'EMEA'),
 ('Poland', 'EMEA'),
 ('Germany', 'EMEA'),
 ('Spain', 'EMEA'),
 ('Sweden', 'EMEA'),
 ('Denmark', 'EMEA'),
 ('Singapore', 'APAC'),
 ('Portugal', 'EMEA'),
 ('Japan', 'APAC'),
 ('Finland', 'EMEA'),
 ('UK', 'EMEA'),
 ('Ireland', 'EMEA'),
 ('Canada', 'NA'),
 ('Hong Kong', 'APAC'),
 ('Italy', 'EMEA'),
 ('Switzerland', 'EMEA'),
 ('Netherlands', 'EMEA'),
 ('Belgium', 'EMEA'),
 ('New Zealand', 'APAC'),
 ('South Africa', 'EMEA'),
 ('Austria', 'APAC'),
 ('Philippines', 'APAC'),
 ('Russia', 'EMEA'),
 ('Israel', 'EMEA')]

In [16]:
%%sql
update country_region set region="NA" where region is NULL;

 * mysql+pymysql://root:***@localhost
2 rows affected.

[]

In [46]:
%%sql
use xz2996_S22_classic_models_star;
drop table if exists sales_facts;
create table sales_facts as select 
concat(orderNumber, '-', orderLineNumber) as sales_fact_id,
customerNumber, orderNumber, quantityOrdered, 
priceEach, orderDate,productCode from classicmodels.orders 
join classicmodels.orderdetails using (orderNumber);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
2996 rows affected.

[]

In [63]:
%%sql
ALTER TABLE sales_facts 
ADD CONSTRAINT Primarykeyname PRIMARY KEY (sales_fact_id);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [57]:
%%sql
use xz2996_S22_classic_models_star;
drop table if exists date_dimension;
create table date_dimension as 
select year(orderDate) as year,quarter(orderDate) as quarter, month(orderDate) as month, day(orderDate) as day, orderNumber from classicmodels.orders;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
326 rows affected.

[]

In [58]:
%%sql
ALTER TABLE date_dimension 
ADD CONSTRAINT Primarykeyname PRIMARY KEY (orderNumber);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [11]:
%%sql
use xz2996_S22_classic_models_star;
drop table if exists location_dimension;
create table location_dimension as 
select a.country, city, b.region, customerNumber from classicmodels.customers a left join country_region as b using(country);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
122 rows affected.

[]

In [59]:
%%sql
ALTER TABLE location_dimension 
ADD CONSTRAINT Primarykeyname PRIMARY KEY (customerNumber);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [51]:
%%sql
use xz2996_S22_classic_models_star;
drop table if exists product_dimension;
create table product_dimension as 
select productCode,productScale, productLine, productVendor from classicmodels.products;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
110 rows affected.

[]

In [60]:
%%sql
ALTER TABLE product_dimension 
ADD CONSTRAINT Primarykeyname PRIMARY KEY (productCode);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

# Data Loading

- Enter and execute your SQL for loading the data into the facts and dimensions table. The source of the information is the Classic Models data.

# Queries

- In each of the sections below, define what your query is producing, provide the query and execute to produce the results.

## Slice

Explanation: the query produce the sum of sales while the country is Germany.

In [25]:
%%sql
use xz2996_S22_classic_models_star;
select product_dimension.productVendor, date_dimension.month, location_dimension.country, count(*) as no_of_sales
from date_dimension RIGHT JOIN sales_facts on (date_dimension.orderNumber = sales_facts.orderNumber) 
LEFT JOIN location_dimension ON (sales_facts.customerNumber=location_dimension.customerNumber) 
LEFT JOIN product_dimension ON (sales_facts.productCode = product_dimension.productCode)
group by productVendor, month, country
having country = 'Germany';

 * mysql+pymysql://root:***@localhost
0 rows affected.
36 rows affected.

[('Autoart Studio Design', 1, 'Germany', 1),
 ('Gearbox Collectibles', 1, 'Germany', 1),
 ('Motor City Art Classics', 1, 'Germany', 1),
 ('Classic Metal Creations', 1, 'Germany', 1),
 ('Autoart Studio Design', 11, 'Germany', 1),
 ('Welly Diecast Productions', 11, 'Germany', 2),
 ('Studio M Art Models', 11, 'Germany', 2),
 ('Min Lin Diecast', 11, 'Germany', 1),
 ('Gearbox Collectibles', 11, 'Germany', 1),
 ('Classic Metal Creations', 11, 'Germany', 2),
 ('Welly Diecast Productions', 3, 'Germany', 1),
 ('Gearbox Collectibles', 3, 'Germany', 2),
 ('Min Lin Diecast', 3, 'Germany', 1),
 ('Highway 66 Mini Classics', 3, 'Germany', 2),
 ('Exoto Designs', 3, 'Germany', 1),
 ('Classic Metal Creations', 3, 'Germany', 1),
 ('Red Start Diecast', 9, 'Germany', 1),
 ('Min Lin Diecast', 9, 'Germany', 2),
 ('Exoto Designs', 9, 'Germany', 1),
 ('Autoart Studio Design', 9, 'Germany', 2),
 ('Carousel DieCast Legends', 9, 'Germany', 1),
 ('Second Gear Diecast', 9, 'Germany', 2),
 ('Studio M Art Models', 9, 'Germany', 1),
 ('Unimax Art Galleries', 9, 'Germany', 1),
 ('Motor City Art Classics', 9, 'Germany', 3),
 ('Autoart Studio Design', 10, 'Germany', 2),
 ('Welly Diecast Productions', 10, 'Germany', 6),
 ('Studio M Art Models', 10, 'Germany', 3),
 ('Gearbox Collectibles', 10, 'Germany', 5),
 ('Min Lin Diecast', 10, 'Germany', 3),
 ('Highway 66 Mini Classics', 10, 'Germany', 1),
 ('Unimax Art Galleries', 10, 'Germany', 1),
 ('Classic Metal Creations', 10, 'Germany', 3),
 ('Second Gear Diecast', 10, 'Germany', 1),
 ('Exoto Designs', 11, 'Germany', 1),
 ('Motor City Art Classics', 11, 'Germany', 1)]

## Dice

Explanation: the query produce the sum of sales in range where country in USA and Germany; while the month in Jan, Feb, and Mar.

In [27]:
%%sql
use xz2996_S22_classic_models_star;
select product_dimension.productVendor, date_dimension.month, location_dimension.country, count(*) as no_of_sales
from date_dimension RIGHT JOIN sales_facts on (date_dimension.orderNumber = sales_facts.orderNumber) 
LEFT JOIN location_dimension ON (sales_facts.customerNumber=location_dimension.customerNumber) 
LEFT JOIN product_dimension ON (sales_facts.productCode = product_dimension.productCode) 
group by productVendor, month, country
having country in ('USA', 'Germany') and month in ('1', '2', '3');

 * mysql+pymysql://root:***@localhost
0 rows affected.
49 rows affected.

[('Welly Diecast Productions', 1, 'USA', 3),
 ('Motor City Art Classics', 1, 'USA', 9),
 ('Exoto Designs', 1, 'USA', 9),
 ('Red Start Diecast', 1, 'USA', 5),
 ('Autoart Studio Design', 1, 'Germany', 1),
 ('Gearbox Collectibles', 1, 'Germany', 1),
 ('Motor City Art Classics', 1, 'Germany', 1),
 ('Classic Metal Creations', 1, 'Germany', 1),
 ('Studio M Art Models', 1, 'USA', 6),
 ('Min Lin Diecast', 2, 'USA', 6),
 ('Highway 66 Mini Classics', 2, 'USA', 2),
 ('Red Start Diecast', 2, 'USA', 6),
 ('Unimax Art Galleries', 2, 'USA', 4),
 ('Welly Diecast Productions', 2, 'USA', 5),
 ('Autoart Studio Design', 2, 'USA', 6),
 ('Exoto Designs', 2, 'USA', 5),
 ('Highway 66 Mini Classics', 3, 'USA', 6),
 ('Min Lin Diecast', 3, 'USA', 9),
 ('Red Start Diecast', 3, 'USA', 7),
 ('Unimax Art Galleries', 3, 'USA', 5),
 ('Gearbox Collectibles', 3, 'USA', 4),
 ('Second Gear Diecast', 3, 'USA', 7),
 ('Motor City Art Classics', 3, 'USA', 3),
 ('Studio M Art Models', 3, 'USA', 7),
 ('Exoto Designs', 3, 'USA', 3),
 ('Welly Diecast Productions', 3, 'USA', 3),
 ('Min Lin Diecast', 1, 'USA', 3),
 ('Autoart Studio Design', 1, 'USA', 6),
 ('Carousel DieCast Legends', 1, 'USA', 6),
 ('Unimax Art Galleries', 1, 'USA', 3),
 ('Classic Metal Creations', 1, 'USA', 6),
 ('Second Gear Diecast', 1, 'USA', 5),
 ('Gearbox Collectibles', 2, 'USA', 4),
 ('Carousel DieCast Legends', 2, 'USA', 9),
 ('Classic Metal Creations', 2, 'USA', 3),
 ('Motor City Art Classics', 2, 'USA', 6),
 ('Second Gear Diecast', 2, 'USA', 6),
 ('Classic Metal Creations', 3, 'USA', 5),
 ('Carousel DieCast Legends', 3, 'USA', 7),
 ('Autoart Studio Design', 3, 'USA', 5),
 ('Welly Diecast Productions', 3, 'Germany', 1),
 ('Gearbox Collectibles', 3, 'Germany', 2),
 ('Min Lin Diecast', 3, 'Germany', 1),
 ('Highway 66 Mini Classics', 3, 'Germany', 2),
 ('Exoto Designs', 3, 'Germany', 1),
 ('Classic Metal Creations', 3, 'Germany', 1),
 ('Highway 66 Mini Classics', 1, 'USA', 3),
 ('Gearbox Collectibles', 1, 'USA', 5),
 ('Studio M Art Models', 2, 'USA', 4)]

## Roll Up

Explanation: it sums up the number of sales by three dimensions: Vendor, year, and region.

In [37]:
%%sql
use xz2996_S22_classic_models_star;
select product_dimension.productVendor, date_dimension.year, location_dimension.region, count(*) as no_of_sales 
from date_dimension RIGHT JOIN sales_facts on (date_dimension.orderNumber = sales_facts.orderNumber) 
LEFT JOIN location_dimension ON (sales_facts.customerNumber=location_dimension.customerNumber) 
LEFT JOIN product_dimension ON (sales_facts.productCode = product_dimension.productCode) 
group by productVendor, year, region limit 10;

 * mysql+pymysql://root:***@localhost
0 rows affected.
10 rows affected.

[('Welly Diecast Productions', 2003, 'NA', 31),
 ('Motor City Art Classics', 2003, 'NA', 29),
 ('Exoto Designs', 2003, 'NA', 35),
 ('Red Start Diecast', 2003, 'NA', 28),
 ('Autoart Studio Design', 2003, 'EMEA', 35),
 ('Gearbox Collectibles', 2003, 'EMEA', 31),
 ('Motor City Art Classics', 2003, 'EMEA', 38),
 ('Classic Metal Creations', 2003, 'EMEA', 35),
 ('Studio M Art Models', 2003, 'NA', 29),
 ('Second Gear Diecast', 2003, 'EMEA', 25)]

## Drilldown

Explanation: the query drill down two dimensions by month and country. In the date dimension, it drill down from year to month; while in location dimenion, it drilldown from region to country.

In [36]:
%%sql
use xz2996_S22_classic_models_star;
select product_dimension.productVendor, date_dimension.year, date_dimension.month, location_dimension.region, location_dimension.country, count(*) as no_of_sales 
from date_dimension RIGHT JOIN sales_facts on (date_dimension.orderNumber = sales_facts.orderNumber) 
LEFT JOIN location_dimension ON (sales_facts.customerNumber=location_dimension.customerNumber) 
LEFT JOIN product_dimension ON (sales_facts.productCode = product_dimension.productCode)
group by productVendor, year, month, region,country limit 10;

 * mysql+pymysql://root:***@localhost
0 rows affected.
10 rows affected.

[('Welly Diecast Productions', 2003, 1, 'NA', 'USA', 1),
 ('Motor City Art Classics', 2003, 1, 'NA', 'USA', 2),
 ('Exoto Designs', 2003, 1, 'NA', 'USA', 1),
 ('Red Start Diecast', 2003, 1, 'NA', 'USA', 1),
 ('Autoart Studio Design', 2003, 1, 'EMEA', 'Germany', 1),
 ('Gearbox Collectibles', 2003, 1, 'EMEA', 'Germany', 1),
 ('Motor City Art Classics', 2003, 1, 'EMEA', 'Germany', 1),
 ('Classic Metal Creations', 2003, 1, 'EMEA', 'Germany', 1),
 ('Studio M Art Models', 2003, 1, 'NA', 'USA', 1),
 ('Classic Metal Creations', 2003, 1, 'EMEA', 'Norway', 1)]